.backed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232536;
  background-image: linear-gradient(#232536, #000);
  margin: 0px;
  padding: 0px;
}

.backed__h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.backed__paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  margin: 0px auto 75px;
  padding: 0px;
}

.backed__participants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0px auto 100px;
  padding: 0px;
}

.backed__participant-type {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 0px auto;
  padding: 0px;
}

.backed__images {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 320px));
  grid-template-rows: auto;
  gap: 25px;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.backed__participant-image {
  width: 320px;
  border-radius: 25px;
}
