.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232536;
  background-image: linear-gradient(#fff, #816cf9);
  margin: 0px;
  padding: 35px;
}

.blogs__h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #000;
  margin: 200px auto 20px;
  padding: 0px;
}

.blogs__paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 28px;
  color: #000;
  max-width: 768px;
  width: 100%;
  margin: 50px auto;
}

.blogs__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 550px));
  grid-template-rows: auto;
  gap: 25px;
  width: 100%;
  max-width: 1150px;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

.blogs__item {
  width: 550px;
  height: 550px;
  background-color: #303452;
  border-radius: 25px;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}
