.community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232536;
  background-image: linear-gradient(#816cf9, #ffdee2, #ffdee2);
  margin: 0px;
  padding: 35px;
}

.community__h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  margin: 200px auto 100px;
  padding: 0px;
}

.community__image {
  width: 100%;
  max-width: 672px;
  border-radius: 25px;
}

.community__paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  line-height: 28px;
  color: #000;
  max-width: 768px;
  width: 100%;
  margin: 50px auto;
}

.community__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  margin: 50px 0px;
}

.community__info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
}

.community__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  color: #000;
  background-color: #ffdee2;
  /* background-image: linear-gradient(to right, #000, #816cf9); */
  border: 2px solid #816cf9;
  border-radius: 25px;
  padding: 24px;
  transition: all 0.3s ease;
}

.community__button:hover {
  cursor: pointer;
  /* color: #000; */
  /* background-image: linear-gradient(to right, #816cf9, #fff); */
  box-shadow: 0px 0px 30px #816cf9;
}
