.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 0px auto;
  padding: 0px;
}

.features__h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  max-width: 766px;
  width: 100%;
  margin: 100px auto;
}

.features__span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgb(112, 255, 231),
    rgb(157, 87, 255)
  );
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  grid-template-rows: auto;
  /* gap: 25px; */
  max-width: 1050px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin: 0px auto;
  padding: 35px;
  box-sizing: border-box;
}

.features__icon {
  width: 50px;
  background-color: #303452;
  padding: 12px;
  border-radius: 16px;
}

.features__title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
}

.features__paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  color: #fff;
}
