.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* background-image: linear-gradient(#232536, #232536, #000); */
  margin: 0px;
  padding: 35px;
  width: 100%;
  box-sizing: border-box;
}

.footer__image {
  width: 100%;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  object-fit: contain;
}
