.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232536;
  background-image: linear-gradient(#000, #232536);
  margin: 0px;
  padding: 0px;
}

.join__h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.join__span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to bottom,
    #000 0%,
    #000 12.5%,
    #00bc38 12.5%,
    #00bc38 25%,
    #ffb900 25%,
    #ffb900 37.5%,
    #ff8301 37.5%,
    #ff8301 50%,
    #ff373c 50%,
    #ff373c 62.5%,
    #ad3b9b 62.5%,
    #ad3b9b 75%,
    #009edf 75%,
    #009edf 87.5%,
    #000 87.5%,
    #000 100%
  );
  /* background-image: linear-gradient(
    to bottom,
    #00bc38 0%,
    #00bc38 16.6667%,
    #ffb900 16.6667%,
    #ffb900 33.3333%,
    #ff8301 33.3333%,
    #ff8301 50%,
    #ff373c 50%,
    #ff373c 66.6667%,
    #ad3b9b 66.6667%,
    #ad3b9b 83.3333%,
    #009edf 83.3333%,
    #009edf 100%
  ); */
}

.join__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 75px auto;
  padding: 0px;
}

.join__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.join__item {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  color: #fff;
  max-width: 282px;
}

.join__sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #232536;
  /* border: 2px solid #fff; */
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px #816cf9;
  margin: 0px auto;
  padding: 50px;
}

.join__subtext {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.05rem;
  font-weight: bold;
  text-align: left;
  color: #fff;
}

.join__button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #000;
  border: 2px solid #232536;
  border-radius: 16px;
  width: 100%;
  padding: 12px 24px;
  transition: all 0.3s ease;
}

.join__button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #232536;
  border: 2px solid #816cf9;
}

.join__video-link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  max-width: 100%;
  border: 1px solid #fff;
  border-radius: 25px;
  margin: 0px auto 100px;
  padding: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.join__video-link:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px #fff;
}

.join__paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  margin: 0px auto;
  padding: 0px;
}

.join__option .join__paragraph {
  text-align: left;
}

.join__options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 75px auto;
  padding: 0px;
}

.join__option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #232536;
  border-radius: 25px;
  max-width: 300px;
  margin: 0px auto;
  padding: 32px;
}

.join__image {
  width: 50px;
}

.join__subheading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  margin: 0px auto;
  padding: 0px;
}
