.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #232536; */
  background-image: linear-gradient(#000, #232536);
  margin: 0px;
  padding: 35px;
}

.main__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 100px auto;
  padding: 50px;
  gap: 50px;
}

.main__heading {
  font-family: "Space Grotesk", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  text-align: left;
  color: #fff;
  width: 100%;
  max-width: 485px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main__span {
  font-family: "Space Grotesk", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* color: #816cf9; */
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    rgb(112, 255, 231),
    rgb(157, 87, 255)
  );
}

.main__subheading {
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main__image {
  /* width: 512px; */
  max-width: 100%;
  height: 384px;
  margin: 0px auto;
  padding: 0px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #816cf9;
  box-sizing: border-box;
}

.main__button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  width: 100%;
  color: #fff;
  background-color: #816cf9;
  border: 2px solid #fff;
  border-radius: 16px;
  margin: 0px auto;
  padding: 24px;
  transition: all 0.3s ease;
}

.main__button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #232536;
  box-shadow: 0px 0px 20px #816cf9;
}
