.story {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #232536;
  background-image: linear-gradient(#232536, #232536, #000);
  margin: 0px;
  padding: 35px;
}

.story__h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  text-align: left;
  color: #fff;
  margin: 200px auto 75px;
  box-sizing: border-box;
}

.story__paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  line-height: 34px;
  color: #fff;
  margin: 0px auto;
  box-sizing: border-box;
}

.story__image {
  max-width: 644px;
  margin: 0px auto;
  box-sizing: border-box;
}
