.why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232536;
  background-image: linear-gradient(#232536, #232536, #000);
  margin: 0px;
  padding: 0px;
}

.why__h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.why__span {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to bottom,
    #00bc38 0%,
    #00bc38 16.6667%,
    #ffb900 16.6667%,
    #ffb900 33.3333%,
    #ff8301 33.3333%,
    #ff8301 50%,
    #ff373c 50%,
    #ff373c 66.6667%,
    #ad3b9b 66.6667%,
    #ad3b9b 83.3333%,
    #009edf 83.3333%,
    #009edf 100%
  );
}

.why__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0px auto;
  padding: 35px;
}

.why__idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: #242424; */
  background-color: #232536;
  /* border: 1px solid #fff; */
  border-radius: 25px;
  /* box-shadow: 0px 0px 25px #816cf9; */
  margin: 0px auto;
  padding: 25px;
  max-width: 358px;
}

.why__idea-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  color: #fff;
  /* color: #70ffe7; */
  /* color: #816cf9; */
}

.why__idea-paragraph {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: left;
  color: #fff;
}

.why__icon {
  width: 50px;
  color: #fff;
}
